{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_sub_school_list' %}

{% set script_controller = "subschoolplugin/controller/subschool/create" %}

{% block title %}
  {% if subSchool|default() %}
    {{ '编辑分校'|trans }}
  {% else %}
    {{ '创建分校'|trans }}
  {% endif %}
{% endblock %}

{% block page_title %}
  {% if subSchool|default() %}
    {{ '编辑分校'|trans }}
  {% else %}
    {{ '创建分校'|trans }}
  {% endif %}
{% endblock %}

{% if subSchool.id|default() %}
  {% set url = path('admin_subschool_edit',{id:subSchool.id}) %}
  {% set type = "edit" %}
{% else %}
  {% set url = path('admin_subschool_create') %}
  {% set type = "create" %}
{% endif %}

{% block main %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/subschoolplugin/css/sub-school.css') }}">

  <form id="branch-school-create-form" class="form-horizontal" method="post" data-url="{{ path('admin_subschool') }}"
        data-type="{{ type }}" action="{{ url }}">
    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="schoolname"><span style="color:red">*</span>{{ '分校名称'|trans }}</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="schoolname" name="name"
               data-url="{{ path('subschool_name_check', {name: subSchool.name|default() }) }}"
               value="{{ subSchool.name|default() }}" class="form-control">
      </div>
    </div>

    <div class="row form-group clearfix">
      <div class="col-md-2 control-label">
        <label for="schoolCover"><span style="color:red">*</span>分校封面</label>
      </div>
      <div class="col-md-7 controls">
        <div id="branch-picture-container">
          {% if subSchool.cover|default(null) %}
            <img class="img-responsive" src='{{ subSchool.cover }}'>
          {% endif %}
        </div>
        <p class="help-block">建议上传大于258px * 172px的图片.</p>
        <a data-toggle="modal" data-target="#modal" class="btn btn-default schoolCover"
           data-url="{{ path('subschool_picture_upload') }}">上传</a>
        <input type="hidden" name="cover" value="{{ subSchool.cover|default() }}" id="cover">
      </div>
    </div>

    <!-- <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="director">分校负责人</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="director" name="director" value="{{ subSchool.director|default() }}"
               class="form-control">
      </div>
    </div> -->

    <!-- <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="directorPhone">负责人电话</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="directorPhone" name="directorPhone" value="{{ subSchool.directorPhone|default() }}"
               class="form-control">
        <p class="help-block">{{ '请填写手机号或者电话，电话格式：区号-电话号码。'|trans }}</p>
      </div>
    </div> -->
    {% if not user|default() %}
      <div class="form-group" id="admins-form-group">
        <div class="col-md-2 control-label"><label><span style="color:red">*</span>已添加管理员</label></div>
        <div class="col-md-7 controls">
          <ul class="list-group admin-list-group sortable-list" id="admin-list-group" data-role="list"
              style="display:none;">
          </ul>
          <div class="input-group">
            {% set url = path('admin_subschool_match') ~ '?q={{query}}' %}
            <input class="form-control" id="admin-input" type="text" data-role="item-input" data-url="{{ url }}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" data-role="item-add" id="admin-add">添加</button>
            </span>
          </div>
          <div>
            <p class="help-block"> 分校管理员支持输入普通用户的用户名，无法添加分校管理员、分校超级管理员和其他的分校管理员做为该分校的管理员
            </p>
          </div>

          <script type="text/plain" data-role="model">{{ admins|default('')|json_encode|raw }}</script>
          <script type="text/x-handlebars-template" data-role="item-template">
            {% verbatim %}
              <li class="list-group-item clearfix" data-role="item">
                <span class="truename">{{ nickname }}</span>
                <input type="hidden" name="adminIds[]" value="{{ adminId }}">
                <button  class="close delete-btn" data-role="item-delete" type="button" title="删除" >&times; </button>
              </li>
            {% endverbatim %}
          </script>
        </div>
      </div>
    {% endif %}

    <div class="row form-group clearfix">
      <div class="col-md-2 control-label">
        <label for="categoryId">分类</label>
      </div>
      <div class="col-md-7 controls">
        <select id="categoryId" required="false" class="form-control width-input width-input-large"
                name="categoryId">
          {{ select_options(categories,subSchool.categoryId|default(),{'':'请选择分类'}) }}
        </select>
      </div>
    </div>

    <!-- <div class="row form-group clearfix">
      <div class="col-md-2 control-label">
        <label for="license">{{ '营业执照'|trans }}</label>
      </div>
      <div class="col-md-7 controls">
        <div id="license-container">
          {% if subSchool.license|default() %}
          <a target="_blank" href="{{ subSchool.license|default() }}">
            <img src="{{ subSchool.license }}"></a>
            {% endif %}
        </div>
        <p class="help-block">{{ '请上传有年检章的企业营业执照副本扫描件，文件小于2M，支持JPG/PNG/BMP等格式图片。'|trans }}</p>
        <a class="btn btn-default" id="license-upload"
           data-upload-token="{{ upload_token('default', 'image') }}"
           data-goto-url="{{ path('subschool_picture_upload') }}">{{ '上传'|trans }}</a>
        <input type="hidden" id="license" name="license"
               value="{{ subSchool.license|default() }}">
      </div>
    </div> -->

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="site"><span style="color:red">*</span>域名</label>
      </div>
      <div class="col-md-7 controls">
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="site" name="site"
                   data-url="{{ path('subschool_site_check',{exclude:subSchool.site|default()}) }}"
                   value="{{ subSchool.site|default() }}" class="form-control width-input width-input-large">.{{ hostName }}
          </div>
          <!-- <div class="col-md-8">
            <div style="margin-top: 12px;color:#999"></div>
          </div> -->
        </div>
        <p class="help-block">{{ '建议输入分校拼音的首字母作为域名。'|trans }}</p>
      </div>

    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    <div class="text-center">
      <button id="branch-school-create-btn" data-submiting-text="{% if user|default() %}正在提交{% else %}正在保存{% endif %}"
              type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#branch-school-create-form">
        {% if user|default() %}
          提交审核
        {% else %}
          保存
        {% endif %}
      </button>
    </div>
  </form>

{% endblock %}
