<tr id="branch-school-table-tr-{{subSchool.id}}">
  <td>
    <a href="http://{{ subSchool.site }}.{{ hostName }}" target="_blank">{{ subSchool.name }}</a>
    <p class="text-muted text-sm">地址：{{subSchool.site}}.{{ hostName }}</p>
    {% if subSchool.recommended %}
        <span class="label label-default">{{'荐:'|trans}}{{ subSchool.recommendedTime|date('Y-m-d') }} / {{'序号:'|trans}}{{ subSchool.recommendedSeq }}</span>
    {% endif %}
  </td>
  <td>{{ categories[subSchool.categoryId].name|default()}}</td>
  <!-- <td>{{subSchool.director|default()}}</td>
  <td>{{subSchool.directorPhone|default()}}</td> -->
  <td>{{subSchool.createdTime|date('Y-m-d')}}</td>
  <td>
    {% if subSchool.status == 'disable' %}
       <span class="text text-danger">关闭</span>
    {% else %}
      <span class="text text-success">开启</span>
    {% endif %}
  </td>
  <td>
    <div class="btn-group">
      <a class="btn btn-default btn-sm edit-branch-school" href="{{ path('admin_subschool_edit', {id:subSchool.id}) }}" >编辑</a>
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </a>
      <ul class="dropdown-menu pull-right">
        {% if subSchool.status == 'normal' %}
          <li><a class="close-branch-school" title="关闭{{setting("subSchool.name")|default("分校")}}({{subSchool.name}})" href="javascript:" data-url="{{path('admin_subschool_close',{id:subSchool.id})}}"><span class="glyphicon glyphicon-off"></span> 关闭分校</a></li>
          {% if subSchool.recommended == 0 %}
            <li><a title="推荐分校" data-url="{{ path('admin_subschool_recommend', {id: subSchool.id}) }}" data-toggle="modal" data-target="#modal" href="#modal"><span class="glyphicon glyphicon-hand-up"></span> 推荐分校</a></li>
          {% else %}
            <li><a title="取消推荐" id = "recommended-cancel" data-url="{{ path('admin_subschool_recommend_cancel', {id:subSchool.id}) }}"  href="javascript:;"><span class="glyphicon glyphicon-hand-right"></span> 取消推荐</a></li>
          {% endif %}
        {% endif %}

        {% if subSchool.status == 'disable' %}
          <li><a class="open-branch-school" title="开启{{setting("subSchool.name")|default("分校")}}({{subSchool.name}})" href="javascript:" data-url="{{path('admin_subschool_open',{id:subSchool.id})}}"><span class="glyphicon glyphicon-ok"></span> 开启分校</a></li>
        {% endif %}
      </ul>
    </div>
  </td>
</tr>
