{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_sub_school_list' %}

{% set script_controller = 'subschoolplugin/controller/subschool/list' %}

{% block main %}
  <form id="branch-school-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <div class="form-group">
      <input type="text" id="'name'" name="name" class="form-control" value="{{app.request.query.get('name')}}" placeholder="分校名称">
    </div>

    <button class="btn btn-primary">搜索</button>

  </form>
	<table class="table table-striped" id="branch-school-table">
    <thead>
      <tr>
        <th>名称</th>
        <th>分类</th>
        <!-- <th>负责人</th>
        <th>负责人电话</th> -->
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for subSchool in subSchools %}
        {% include 'SubSchoolPlugin:subschool-admin:index-tr.html.twig' %}
      {% else %}
        <tr class="empty"><td colspan="20">暂无分校</td></tr>
      {% endfor %}
    </tbody>

{% endblock %}
