{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{'设置推荐分校'|trans}}{% endblock %}
{% block body %}

<form id="course-recommend-form" class="form-horizontal" method="post" action="{{ path('admin_subschool_recommend', {id: subSchool.id}) }}">

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="number">{{'序号'|trans}}</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="number" name="number" class="form-control" value="" data-widget-cid="widget-1" data-explain="{{'请输入0-10000的整数'|trans}}">
    <div class="help-block">{{'请输入0-10000的整数'|trans}}</div></div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}


{% block footer %}
  <button id = "course-recommend-btn" data-submiting-text="{{'正在提交'|trans}}" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#course-recommend-form">{{'保存'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'取消'|trans}}</button>
  <script>app.load('subschoolplugin/controller/subschool/recommend-modal');</script>
{% endblock %}
