
{% set nextCode = '' %}
  <style type="text/css">
    .category-nav ul li {
      display: none;
    }

    .province-nav ul li {
      display: none;
    }
  </style>
<div class="es-tabs">
  {% set defaultCategory = 'null' %}
  <div class="category-nav" style="position:relative">
    <div class="tab-header" style="background-color:white;">
      <span style="display: block;padding: 15px 0px 15px 20px;color: #616161;float:left;">{{'分类:'|trans}}</span>
      <ul class="clearfix" style="padding-left: 50px;padding-right:50px">
        <li class="{% if category == '' %}active{% endif %} category-li">
          <a href="{{ path(path, {category:'', orderBy:orderBy}) }}">
            {{'全部'|trans}}
          </a>
        </li>
        {% for cateogory in rootCategories %}
          <li class="{% if cateogory.id in activeIds %}{% set nextCode = cateogory.code %}active{% endif %} category-li">
            <a href="{{ path(path, {category:cateogory.code, orderBy:orderBy}) }}">
              {{cateogory.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div style="position:absolute; top:0px; right:10px;">
      <span  class="more-category btn" style="display: none;padding: 15px 30px;color: #616161;">
        <span class="more-category-show">{{'更多'|trans}}</span>
        <span class="more-category-pack" style="display:none;">{{'收起'|trans}}</span> 
        <i class="glyphicon glyphicon-chevron-down more-category-show"></i>
        <i class="glyphicon glyphicon-chevron-up more-category-pack" style="display:none;"></i>
      </span>
    </div>
  </div>
  <div class="tab-header"  >
    {% if categories %}
      <div class="tab-body" style="background-color:white;border-top:1px dashed #e1e1e1;">
        {% for l,cs in categories if cs %}
          <ul class="clearfix" style="padding-left: 36px;padding-right:50px">
            {% for c in cs %}
              {% if loop.index == 1 %}
                <li class="all"><a href="{{ path(path, {category:nextCode}) }}">{{'全部'|trans}}</a></li>
              {% endif %}
              <li class="{% if c.id in activeIds %}{% set nextCode = c.code %}active{% endif %}"><a href="{{ path(path, {category:c.code}) }}">{{ c.name }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>