{% extends 'layout.html.twig' %}
{% do script(['subschoolplugin/js/nav/index.js']) %}
{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        <i class="es-icon es-icon-viewcomfy"></i>
        所有分校
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<style type="text/css">

  .course-img {
    height: 185px;
  }

  .es-tabs .tab-header > ul > li.active > a {
    color: #46c37b;
  }

</style>
  {% set orderBy = orderBy|default('recommendedSeq')%}
  {% set province = province|default('')%}
  {{ render(controller('SubSchoolPlugin:SubSchool:treeNav',
  {category:category|default(''), path:'subschool_explore', orderBy:orderBy})) }}
  <div class="es-filter">
    <ul class="nav nav-sort clearfix">
      {% set path = 'subschool_explore' %}
      <li><a href="{{ path(path, {category:category, orderBy: 'recommendedSeq', province:province}) }}" class="{% if (orderBy == 'recommendedSeq') %}active{% endif %}">{{'推荐'|trans}}</a></li>
      <li><a href="{{ path(path, {category:category, orderBy: 'latest', province:province}) }}" class="{% if (orderBy == 'latest') %}active{% endif %}">{{'最新'|trans}}</a></li>
    </ul>
  </div>
  {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block body %}
      {% if subSchools %}
        <div class="course-list">
          {% for branchSchool in subSchools %}
            <div class="col-md-3 col-sm-6">
              <div class="engagement-student-item course-item">
                <a href="http://{{ branchSchool.site}}.{{ hostName }}" target="_blank">
                  <div class="course-img">
                      {% if branchSchool.cover %}
                        <img class="img-responsive" src="{{ branchSchool.cover }}">
                      {% else %}
                        <img class="img-responsive" src="{{ asset(setting('site.logo')) }}">
                      {% endif %}
                  </div>

                  <div class="course-info">
                    <div class="title">{{branchSchool.name}}</div>

                    <div class="metas">
                        {#
                      <p>电话：{{branchSchool.directorPhone}}</p>
                       {% if branchSchool.join == 0 %}
                        <a class="btn btn-warning btn-block" href="{{path("branch_school_join",{domain:branchSchool.domain,id:branchSchool.id}) }}">加入分校</a>
                      {% else %}
                        <a class="btn btn-success btn-block" href="{{path("branch_school_homepage",{domain:branchSchool.domain}) }}">已加入分校,点击进入</a>
                      {% endif %}
                      #}
                    </div>

                  </div>

                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
          <p class="empty">暂无分校记录</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
      {{ web_macro.paginator(paginator) }}
{% endblock %}
