{% extends 'bootstrap-modal-layout.html.twig' %}
{% block title %}
  向主站推荐课程
{% endblock %}
{% block body %}
  <table class="table table-striped ">
    <tr>
      <th width="25%">课程名称</th>
      <td width="75%">
       {{ course.title }}
      </td>
    </tr>
  </table>
  <form id="form-course-copy" class="mbl clearfix org-foot" method="post" action="{{ path('admin_move_course_to_fullsite',{courseId:course.id}) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
{% block footer %}
    <button id="course-move-to-fullsite" data-submiting-text="正在提交" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#form-course-copy">确定</button>
    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}