<link rel="stylesheet" type="text/css" href="{{ asset('bundles/subschoolplugin/css/move-course.css') }}">
<div class="modal-dialog copy-org-course" id="copy-org-course">
    <div class="row modal-content">
      <div class="col-md-6 left">
        <div class="title">
          <strong>分校列表</strong>
        </div>
        <p><input type="text" class="search pvs phs" placeholder="搜索"/></p>
        <ul class="list left">
           {% for item in subSchools %}
              <li data-org-id="{{ item.orgId }}"><i class="glyphicon glyphicon-unchecked"></i>{{ item.name }}</li>
           {% endfor %}
          <div class="no-result hide">没有该搜索结果  o(￣ヘ￣*o)</div>
        </ul>
      </div>
      <div class="col-md-6 right">
          <div class="title">
             <strong>已选分校</strong>
          </div>
        <ul class="list right">
        </ul>
      </div>
      <form id="form-course-copy" class="mbl clearfix org-foot" method="post" action="{{ path('admin_move_course_to_org',{courseId:courseId}) }}">
{#           <input name='orgIds[]' type="hidden" value="123"> #}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
           <button id="course-move-to-org" data-submiting-text="正在提交" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#form-course-copy">确定</button>
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
      </form>
    </div>
</div>
<script>app.load('subschoolplugin/course-org-choose')</script>