.copy-org-course{
  .col-md-6 {
    padding: 0 20px 40px;
    min-height: 300px;
  }
  .title{
    margin: 15px 0;
    font-size: 18px;
  }
  input.search{
     border-radius: 2px;
     border: 1px solid #ddd;
    // display: block;
    // margin: 0  auto  20px
  }
  .modal-content > .left{
    border-right: 1px solid #eee;
    margin-right: -1px;
  }
  .modal-content > .right{
    border-left: 1px solid #eee;
  }
  .list{
    margin: 0;
    padding: 10px 0 30px;
    li{
         font-size: 16px;
         padding: 10px 5px;
         cursor: pointer;
         &:hover{
           background-color: #fafafa;
         }
         >i{
              margin-right: 5px;
              &.glyphicon-expand{
                 color: #5cb85c
              }
         }
    }
  }
  .org-foot{
      position: absolute;
      bottom: 0;
      right: 20px;
  }
}