{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_school_category_manage' %}
{% block main %}

<ul class="list-table" id="category-table" style="margin-bottom: 0">
    <li class="th">
        <div class="row">
            <div class="td col-md-5">{{ "分校分类名称"|trans }}</div>
            <div class="td col-md-2">{{ "编码"|trans }}</div>
            <div class="td col-md-2">{{ "显示序号"|trans }}</div>
            <div class="td col-md-3">{{ "操作"|trans }} </div>
        </div>
    </li>
    {% include 'SubSchoolPlugin:CategoryManage:tbody.html.twig' %}
</ul>
{% endblock %}