{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% block title %}{% if category.id|default("") %}{{ "编辑分校分类"|trans }}{% else %}{{ "添加分校分类"|trans }}{% endif %}{% endblock %}

{% block body %}
  <form id="category-form" class="form-horizontal" action="{% if category.id|default("") %}{{ path('admin_subschool_category_edit', {id:category.id}) }}{% else %}{{ path('admin_subschool_category_create') }}{% endif %}" method="post">
    <div class="form-group">
      <label class="col-md-2 control-label" for="category-name-field">{{ "分校分类名称"|trans }}</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="category-name-field" type="text" name="name" value="{{ category.name|default("") }}" data-url="{{ path('admin_subschool_category_name_check', {exclude : category.name|default("")}) }}" tabindex="1">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-code-field">{{ "分类编码"|trans }}</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="category-code-field" type="text" name="code" value="{{ category.code|default("") }}" data-url="{{ path('admin_subschool_category_check', {exclude : category.code|default("")}) }}" tabindex="2">
        <div class="help-block">{{ "必填"|trans }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-description-field">{{ "分类序号"|trans }}</label>
      <div class="col-md-8 controls">
        <input type="text" class="form-control" id="category-description-field" name="seq" value="{{category.seq|default(0)}}">
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
   <input type="hidden" name="parentId" value="{{ category.parentId|default(0)  }}">
  </form>

  <script type="text/javascript"> app.load('subschoolplugin/controller/categorymanage/edit') </script>
{% endblock %}

{% block footer %}
  {% if category.id|default(0) %}
    <button type="button" class="btn btn-default pull-left js-delete-category" data-url="{{ path('admin_subschool_category_delete', {id:category.id}) }}" tabindex="5"><i class="glyphicon glyphicon-trash"></i> {{ "删除"|trans }}</button>
  {% endif %}
  <button type="button" class="btn btn-link" data-dismiss="modal" tabindex="6">{{ "取消"|trans }}</button>
  <button id="category-save-btn" data-submiting-text="{{ "正在提交"|trans }}" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#category-form" tabindex="4">{{ "保存"|trans }}</button>
{% endblock %}
