.copy-org-course .col-md-6 {
  padding: 0 20px 40px;
  min-height: 300px;
}
.copy-org-course .title {
  margin: 15px 0;
  font-size: 18px;
}
.copy-org-course input.search {
  border-radius: 2px;
  border: 1px solid #ddd;
}
.copy-org-course .modal-content > .left {
  border-right: 1px solid #eee;
  margin-right: -1px;
}
.copy-org-course .modal-content > .right {
  border-left: 1px solid #eee;
}
.copy-org-course .list {
  margin: 0;
  padding: 10px 0 30px;
}
.copy-org-course .list li {
  font-size: 16px;
  padding: 10px 5px;
  cursor: pointer;
}
.copy-org-course .list li:hover {
  background-color: #fafafa;
}
.copy-org-course .list li > i {
  margin-right: 5px;
}
.copy-org-course .list li > i.glyphicon-expand {
  color: #5cb85c;
}
.copy-org-course .org-foot {
  position: absolute;
  bottom: 0;
  right: 20px;
}
