.row img{
    width: 300px;
    max-height: 300px;
}
.ui-autocomplete {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 3px #eee;
  z-index: 9999 !important;
}
.ui-autocomplete-ctn {
  margin: 0;
  padding: 0;
}
.ui-autocomplete-item {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  padding: 0 10px 0 10px;
  cursor: default;
}
.ui-autocomplete-item-hover {
  background: #f2f2f2;
}
.ui-autocomplete-item-hl {
  background: #f6ff94;
}