<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{'设置分校封面图片'|trans}}</h4>
    </div>
    <div class="modal-body">

    <form id="article-pic-crop-form" method="post" >

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img class="img-responsive" src="{{ filepath(pictureUrl) }}" id="branch-pic-crop"
           width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
          <div class="help-block">{{'提示：请选择图片裁剪区域。'|trans}}</div>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <a class="btn btn-fat btn-primary"
          id="upload-picture-crop-btn"
          data-goto="{{ path('subschool_picture_upload')}}"
          data-goto-url="{{ path('subschool_picture_upload_crop')}}">{{'保存'|trans}}</a>
        </div>
      </div>

    </form>
</div>
  <div class="modal-footer">  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'取消'|trans}}</button>
  <script>app.load('subschoolplugin/controller/subschool/picture-crop')</script>

</div>
</div>
</div>